.member-header {
    margin-top: 2.5%;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    flex-wrap: wrap;
    margin-top: 0%;
    margin-bottom: 0px;
    flex-direction: row;
    width: 100%; /*I must also try width: 70vw for responsiveness*/
}

.cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
    overflow: hidden;
    margin-bottom: 0px;
    margin-top: 2%;
}

.cards .card img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 0px;
}

.member-header h4 {
    max-width: 90%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 2vw;
    line-height: 100%;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: hsla(0, 0%, 0%, 1);
/*width: 25%;
    font-weight: 600;
    font-size: 2vw;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: capitalize;
    color: hsla(0, 0%, 0%, 1);
    margin-bottom: 0;*/    
}

.cards .card p {
    display: inline;
    font-size: 1vw;
    line-height: 120%;
    letter-spacing: 0px;
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: 0px;
    text-align: center;
    color: hsla(0, 0%, 0%, 1);
}

.member-header .cards .card .name{
    margin-top: 0.6em;
    font-weight: 600;
    font-size: 14px;
}


.member-header .cards .card .title{
    margin-top: 0.2em;
    font: bold;
    font-weight: 1000;
    font-size: 15px;
}

.red-divider {
    border: 1px solid hsla(356, 83%, 41%, 1);
    width: 83%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: -10px;
}
 
@media (max-width: 768px) {
    .cards .card {
        width: 45%;
    }

    .cards .card p {
        font-size: 1.2vw;
    }
}

@media (max-width: 480px) {
    .cards .card {
        width: 90%;
    }

    .cards .card p {
        font-size: 1.5vw;
    }
}