/* Button styling */
.btn_proceed {
    background-color: hsl(123, 78%, 56%);
    width: 20%;
    border-radius: 5px;
    padding: 10px 10px;
    border: none;
    color: white;
    cursor: pointer;
}

/* Student card styling */
.student {
    max-width: 30%;
    max-height: auto;
    border: 5px solid hsla(0, 0%, 87%, 0.242);
    border-radius: 10%;
    margin: 10px;
    text-align: center;
    padding: 10px 0;
    background-color: hsl(0, 0%, 95%);
    display: inline-block;
    transition: transform 0.3s ease; /* Smooth transition for the hover effect */
}

/* Hover effect to grow towards the left */
.student:hover {
    transform: translateX(-10px); /* Moves the card 10px to the left */
}

/* Student image styling */
.student_image {
    width: 30%;
    height: auto;
    border-radius: 10px;
}
